{% extends 'account/base.html' %}
{% load static %}
{% load allauth account %}
{% block content %}
<div class="card px-sm-6 px-0">
  <div class="card-body">
    <!-- Logo -->
    <div class="app-brand justify-content-center">

    </div>
    <!-- /Logo -->
    <h4 class="mb-1">Сброс пароля</h4>

    <form id="formAuthentication" method="post" class="mb-6 fv-plugins-bootstrap5 fv-plugins-framework"
      novalidate="novalidate">
      {% csrf_token %}
      <div class="mb-6 form-password-toggle fv-plugins-icon-container">
        <label class="form-label" for="password">Пароль</label>
        <div class="input-group input-group-merge has-validation">
          {{ form.password1 }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
      </div>
      <div class="mb-6 form-password-toggle fv-plugins-icon-container">
        <label class="form-label" for="password">Повторите пароль</label>
        <div class="input-group input-group-merge has-validation">
          {{ form.password2 }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
      </div>
      <div class="mb-6">
        <button class="btn btn-primary d-grid w-100 mt-3" type="submit">Сохранить</button>
      </div>
    </form>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible mt-3" role="alert">
      <h4 class="alert-heading d-flex align-items-center"><span class="alert-icon rounded-circle"><i
            class="bx bx-error"></i></span>Form error!!</h4>
      {% if form.password1.errors %}
      <p>
        Password: {{ form.password1.errors }}
      </p>
      {% endif %}
      {% if form.password2.errors %}
      <p>
        Confirm password: {{ form.password2.errors }}
      </p>
      {% endif %}

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}