{% extends 'shop/base.html' %}
{% load static %}
{% load ratings %}
{% load i18n %}
{% block title %}
Интернет-магазин Wildberries
{% endblock %}
{% block content %}
<div class="col-md-12 mb-4" >

  <div class="row row-cols-6 row-cols-md-6">
    {% for product in products %}
    <div class="col" id="product{{ product.id }}">
        <a href="{% url 'product-detail' product.id %}">
            <img src="{{ product.image.url }}" class="img-fluid" style="border-radius: 15px;" alt="">
        </a>
        <div class="d-flex flex-column mt-2">
            <span class="text-dark fw-bold fs-4">{{ product.price }}$</span>
            <p class="text-muted">{{ product.name }}</p>
            <div class="d-flex justify-content-end mb-3">
              {% for i in product.rating_average %}
                  <i class='bx bxs-star text-warning'></i>
              {% endfor %}
          </div>
            {% if product.in_cart_status %}
              <button class="btn btn-primary" disabled>В корзине</button>
            {% else %}
              <form action="#product{{ product.id }}" method="post">
                  {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product_id">
                <button class="btn btn-primary" type="submit">В корзину</button>
              </form>
            {% endif %}
            {{ product.rating.average }}
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}